<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<title>admin</title>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<meta charset=UTF-8>

    <style type="text/css">
     body{
      background-image: url(banner.jpg); 
      background-repeat: no-repeat;
     } 
     h1{
     color: white;
     }
     #tab{
      margin-top: 5%;
     }
     #link{
     color: white;
     }
    </style>
	</head>
	
	<body>
    <div id="tab">
    <h1>Lista de times cadastrados e suas respectivas informações</h1>
    
    <table border="1" class="table table-striped table-dark">  
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Time</th>
      <th scope="col">Técnico</th>     
      <th scope="col">Excluir</th> 
      <th scope="col">Editar</th>
    </tr>
    <tr scope="row" th:each="u : ${times}">
      <td th:text=${u.codigo}></td>
      <td th:text="${u.nome}"></td>  
      <td th:text="${u.tecnico}"></td>  
      <td><a th:href="@{/delete/{codigo}(codigo=${u.codigo})}">Excluir</a></td> 
      <td><a th:href="@{/editar/{codigo}(codigo=${u.codigo})}">Editar</a></td>
    </tr>
         </table>
    </div>
    <div id="link">
    <a href="/">Voltar para o cadastro</a>
	</div>
    <!--Rodape-->
    <div class="rodape">
      <p>&copy;Todos os direitos Resevados</p>
    </div>
    <!--Scripts-->
	</body>
	
</html>